.header {
    background-color: #fff;
    height: 80px;
    padding: 15px 17px;
    position: sticky;
    box-shadow: 1px 6px 10px -3px rgba(99,91,91,0.7);
    -webkit-box-shadow: 1px 6px 10px -3px rgba(99,91,91,0.7);
    -moz-box-shadow: 1px 6px 10px -3px rgba(99,91,91,0.7);
    margin-bottom: 20px;
}

.header-nav-link {
    font-size: 16px !important;
    color: #2c2c2c !important;
}

.header-logo {
    height: 100%;
    display: flex;
    align-items: center;
}